@font-face {
  font-family: 'alarm-clock';
  src: url("../assets/alarm-clock.ttf.woff") format("woff"), url("../assets/alarm-clock.ttf.svg#alarm-clock") format("svg"), url("../assets/alarm-clock.ttf.eot"), url("../assets/alarm-clock.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-clock-h: 180;
  --color-clock-s: 100%;
  --color-clock-l: 80%;
  --color-wrong-h: 0;
  --color-wrong-s: 100%;
  --color-wrong-l: 70%;
}

body {
  background: black;
  color: white;
  text-align: center;
  user-select: none;
}

body .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body .wrapper #id {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

body .wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .wrapper form label {
  display: flex;
  padding: 10px;
}

body .wrapper form label .icon {
  width: 100px;
  height: 100px;
}

body .wrapper form label input {
  border: 2px solid gainsboro;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align: center;
  display: block;
  margin-left: 5px;
}

body .wrapper form label input:focus {
  outline: none;
}

body .wrapper form #submit {
  display: none;
}

body .wrapper button {
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  margin: 10px;
  border: none;
  background: rgba(153, 255, 255, 0.3);
  color: #99ffff;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

body .wrapper button:hover {
  background: rgba(153, 255, 255, 0.5);
}

body .wrapper button.wrong {
  background: rgba(255, 102, 102, 0.3);
  color: #ff6666;
}

body .wrapper button.wrong:hover {
  background: rgba(255, 102, 102, 0.3);
}

body .wrapper #timer {
  font-family: "alarm-clock";
  font-size: 200px;
  color: #99ffff;
  margin: 0;
  padding: 0;
}
